<!-- footer.html -->
<div th:fragment="footer">
    <footer>
        <p>&copy; <span th:text="#{footer.caption1}">2025 Parent Genius AI. All rights reserved.</span></p>
        <p><a href="/privacy-policy" th:text="#{footer.caption2}">Privacy Policy</a> | <a href="/term-of-service" th:text="#{footer.caption3}">Terms of Service</a> | <a href="/community-guidelines" th:text="#{footer.caption4}">Community Guidelines</</a></p>
        <p class="footer-company-info">
            <span th:text="#{footer.companyinfo}">GNM399 Ventures Corp. | Vancouver, BC, Canada</span>
        </p>
    </footer>
</div>
