/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F9F9F9;
    color: #333333;
    margin: 0;
    padding: 0;
    padding-top: 63px;
}

/* Navbar */

/* Logo styling */
.navbar-logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 40px;
}

/*
.navbar-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 0;
}


.container-xxl {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
    max-width: none;
}


.navbar-nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar-nav.d-flex.justify-content-center.w-100 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    flex-grow: 0 !important; 
}


.navbar-nav.ms-auto {
    margin-right: 0 !important;
}


.nav-link {
    color: white !important;
}


.menu-nav {
    gap: 30px; 
}


.menu-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

*/
/* Footer */
footer {
    background-color: #4A90E2;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

